<div><!--余裕があったら実装のジャンル検索を形だけ!-->
  <p>ジャンル検索</p>
  <ul>
    <li>ケーキ</li>
    <li>焼き菓子</li>
    <li>プリン</li>
    <li>キャンディ</li>
  </ul>
</div>

<div><!--背景画像ある？!-->
  <p>ようこそ、ながのCAKEへ！<br/>
     このサイトは、ケーキ販売のECサイトになります。<br/>
     会員でない方も商品の閲覧はできますが、<br/>
     購入には会員登録が必須になります。</p>
</div>

<h1>新着商品</h1>
<% @items.each do |items| %>
  <table>
    <tr><td><%= image_tag items.get_image(100, 100) %></td></tr>
    <tr><td><%= items.name %></td></tr>
    <tr><td>¥<%= (items.price*1.1).round.to_s(:delimited) %></td></tr>
  </table>
<% end %>
<%= link_to "全ての商品を見る>", items_path %>