<h1>会員一覧</h1>
<table>
  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <tr>
    <tb><!--会員ID.each!--></tb>
    <tb><!--氏名.each!--></tb>
    <tb><!--メールアドレス.each!--></tb>
    <tb><!--ステータス.each!--></tb>
  </tr>
</table>
<!--ページネーション!-->
