<h1>注文履歴一覧</h1>
<table>
  <tr>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
    <!--注文ステータス!-->
  </tr>
  <tr>
    <tb><!--日時.each!--></tb>
    <tb><!--購入者.each!--></tb>
    <tb><!--注文個数.each!--></tb>
    <!--注文ステータス!-->
  </tr>
</table>
<!--ページネーション!-->